---
---

<!DOCTYPE html>
<html lang="en">
    
    <!-- Head -->
    {% include head.html %}
    
    <body>
        <!-- Navigation-->
        {% include navbar.html %}

        <!-- Masthead-->
        <header class="masthead blog">
            <div class="container">
                <div class="masthead-heading text-uppercase">Blog</div>
            </div>
        </header>

        <!-- Blog Posts-->
        <section class="page-section bg-light" id="blog">
            <div class="container">
                <div class="text-center">
                    <h2 class="text-muted text-uppercase">Coming soon</h2>
                    <p class="text-muted">Follow us on social media to be the first to hear about it!</p>
                </div>
                <!--
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1"> 
                                <img class="img-blog" src="assets/img/portfolio/01-thumbnail.jpg" alt="" /> 
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="portfolio-caption">
                                            <div class="portfolio-caption-heading text-muted">Title</div>
                                            <div class="portfolio-caption-subheading text-muted"> Elementum sagittis vitae et leo duis ut.  viverra um dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</div>
                                        </div>
                                    </div>    
                                    <div class="col-lg-3">
                                        <div class="portfolio-hover">
                                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2"> 
                                <img class="img-blog" src="assets/img/portfolio/01-thumbnail.jpg" alt="" /> 
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="portfolio-caption">
                                            <div class="portfolio-caption-heading text-muted">Title</div>
                                            <div class="portfolio-caption-subheading text-muted"> Elementum sagittis vitae et leo duis ut.  viverra um dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</div>
                                        </div>
                                    </div>    
                                    <div class="col-lg-3">
                                        <div class="portfolio-hover text-right">
                                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3"> 
                                <img class="img-blog" src="assets/img/portfolio/01-thumbnail.jpg" alt="" /> 
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="portfolio-caption">
                                            <div class="portfolio-caption-heading text-muted">Title</div>
                                            <div class="portfolio-caption-subheading text-muted"> Elementum sagittis vitae et leo duis ut.  viverra um dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor in</div>
                                        </div>
                                    </div>    
                                    <div class="col-lg-3">
                                        <div class="portfolio-hover text-right">
                                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    -->

       <!-- Portfolio Modals-->
        <!-- Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Why This Matters</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/01-full.png" alt="" />
                                    <p class="text-muted">Food accounts for over <a href="https://science.sciencemag.org/content/360/6392/987">a quarter</a> of global greenhouse gas emissions, and half of the world’s habitable (ice and desert-free) land is used for agriculture. Of the emissions attributed to food,</p>
                                    <ul class="list-inline">
                                        <li>31% is from livestock & fisheries,</li>
                                        <li>27% is from crop production,</li>
                                        <li>24% is from land-use and</li>
                                        <li>18% is from the supply chain.</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Ways to Lighten Your Foodprint</h2>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/02-full.jpg" alt="" />
                                    <p class="text-muted">Food is part of our everyday life and our food choices are crafted by our habits and culture. It is something shared and exchanged. This is why lowering our foodprint often requires shared efforts and collective action of those around us as well. Here is how you can lower your foodprint:</p>
                                    <ul class="list-inline">
                                        <li>1. Learn more about the impact of food on climate change (like you are doing now!).</li>
                                        <li>2. Spread awareness so others also recognize that food has an impact on climate change.</li>
                                        <li>3. Make conscious decisions on the foods that you buy, eat, share, cater, and promote.</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">What Does 'Foodprint' Mean?</h2>
                                    <p class="text-muted">blog3</p>
                                    <ul class="list-inline">
                                        <li>example1 </li>
                                        <li>example 2</li>
                                    </ul>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/03-full.jpg" alt="" />
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        {% include footer.html %}
        
        <!-- Hubspot -->
        {% include hubspot.html %}

        <!-- Javascript -->
        {% include script.html %}

    </body>
</html>
