---
---

<!DOCTYPE html>
<html lang="en">
    
    <!-- Head -->
    {% include head.html %}
    
    <body>
        <!-- Navigation-->
        {% include navbar.html %}

        <!-- Masthead-->
        <header class="masthead blog">
            <div class="container">
                <div class="masthead-heading text-uppercase">Blog</div>
            </div>
        </header>

        <!-- Blog Posts-->
        <section class="page-section bg-light" id="blog">
            <div class="container">
                <div class="row">

                    {% assign i = 1 %}
                    {% for post in site.posts %}
                        
                        
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4">
                            <div class="portfolio-item">
                                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{i}}"> 
                                    <img class="img-blog" src="assets/img/blog/{{post.image}}" alt="{{post.alt}}" /> 
                                    <div class="row">
                                        <div class="col-lg-9 col-md-9 col-sm-9">
                                            <div class="portfolio-caption">
                                                <div class="portfolio-caption-heading text-muted">{{ post.title }}</div>
                                                <div class="portfolio-caption-subheading text-muted">{{ post.date | date_to_long_string }}</div>
                                            </div>
                                        </div>    
                                        <div class="col-lg-3 col-md-3 col-sm-3 mb-4">
                                            <div class="portfolio-hover">
                                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% assign i = i | plus:1 %}

                    {% endfor %}

                </div>
            </div>
        </section>
    

       <!-- Portfolio Modals-->
        {% assign j = 1 %}
        {% for post in site.posts %}

            
            <!-- Modal 1-->
            <div class="portfolio-modal modal fade" id="portfolioModal{{j}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" /></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here-->

                                        {{ post.content }}

                                        <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% assign j = j | plus:1 %}

        {% endfor %}

        <!-- Footer -->
        {% include footer.html %}
        
        <!-- Hubspot -->
        {% include hubspot.html %}

        <!-- Javascript -->
        {% include script.html %}

    </body>
</html>
