---
---

<!DOCTYPE html>
<html lang="en">

    <!-- Head -->
    {% include head.html %}

    <body id="page-top">
        <!-- Navigation-->
        {% include navbar.html %}

        <!-- Masthead-->
        <header class="masthead index">
            <div class="container">
                <div class="masthead-heading">Lighter Foodprint</div>
                <div class="masthead-subheading">Reducing food's impact on the environment,<br>one meal at a time.</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="takeaction.html">Take Action</a>
            </div>
        </header>

        <!-- Instagram Feed 
        {% include instafeed.html %} -->

        <!-- Section 1-->
        <section class="page-section" id="section1">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading">About<img src="assets/img/60x60logo.png" alt="" /></h2>
                    <h5 class="my-3">
                        Our mission is to integrate the climate into our everyday food choices.
                    </h5>
                    <p class="text-muted">
                        We help restaurants and food services reduce their climate impact while meeting their strategic goals through a climate labelling system and sustainable business solutions. <br><br>
                        The global food system is a major contributor to climate change, responsible for up to <a href="https://science.sciencemag.org/content/360/6392/987">a quarter of global greenhouse gas emissions</a>. That is why our food choices matter when it comes to reducing global emissions.<br><br>
                        We envision a world where we produce, consume and compost food in a sustainable manner.
                    </p>
                </div>
            </div>
        </section>
        
        <!-- How/Our Services -->
        <section class="page-section bg-light" id="how">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading">What We Do</h2>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-edit fa-stack-1x fa-inverse"></i></span>
                        <h4 class="my-3">Climate Labelling</h4>
                        <p class="text-muted">We calculate the climate impact of each menu item and communicate it through our climate label. The labels are designed to be easily understood and easy to integrate into any menu design, with the mission to empower consumers to make more sustainable and informed food purchases. </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-leaf fa-stack-1x fa-inverse"></i></span>
                        <h4 class="my-3">Sustainability Consulting</h4>
                        <p class="text-muted">We advise our clients on how to lower their environmental footprint while meeting their business objectives using an environmentally, socially and economically sustainable approach.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-comments-dollar fa-stack-1x fa-inverse"></i></span>
                        <h4 class="my-3">COVID Recovery</h4>
                        <p class="text-muted">With a focus on building a thriving local economy, we help small and local restaurants meet their strategic goals through COVID. We  offer objective, practical and results-driven COVID-recovery advice to struggling food businesses to get them back on their feet in time for a post-COVID world.</p>
                    </div>
                    <div class="col">
                        <a class="btn btn-primary btn-l text-uppercase" href="services.html">Learn More About Our Services</a>
                    </div>
                </div>
            </div>
        </section>    
        
        <!--Join Us Typeform -->
        {% include joinus.html %}

        <!-- Sponsors -->
        <section class="py-5" id="sponsors">
            <div class="container">
                <div class="text-center">
                    <h3 class="section-heading">Supported By</h3>                
                    <div class="row">
                        <div class="col-md-4 col-sm-6 my-3">
                            <img class="img-fluid d-block mx-auto" src="assets/img/sponsors/Canada Service Corps EN Colour.png" alt="canada service corps" />
                        </div>
                        <div class="col-md-4 col-sm-6 my-3">
                            <img class="img-fluid d-block mx-auto" src="assets/img/sponsors/Rising Youth EN Colour.png" alt="rising youth" />
                        </div>
                        <div class="col-md-4 col-sm-6 my-3">
                            <img class="img-fluid d-block mx-auto" src="assets/img/sponsors/Taking it Global EB.png" alt="taking it global" />
                        </div>
                        <div class="col-md-6 col-sm-6 my-3">
                            <img class="img-fluid d-block mx-auto" src="assets/img/sponsors/cityhive.jpg" alt="cityhive" />
                        </div>
                        <div class="col-md-6 col-sm-6 my-3">
                            <img class="img-fluid d-block mx-auto" src="assets/img/sponsors/Government of Canada EN.jpg" alt="government of canada" />
                        </div>                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        {% include footer.html %}
        
        <!-- Hubspot -->
        {% include hubspot.html %}

        <!-- Javascript -->
        {% include script.html %}

    </body>
</html>
