---
---

<!DOCTYPE html>
<html lang="en">

    <!-- Head -->
    {% include head.html %}

    <body id="page-top">
        <!-- Navigation-->
        {% include navbar.html %}

        <!-- Masthead-->
        <header class="masthead index">
            <div class="container">
                <div class="masthead-heading">Lighter Foodprint</div>
                <div class="masthead-subheading">Reducing food's impact on the environment,<br>one meal at a time.</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="takeaction.html">Take Action</a>
            </div>
        </header>

        <!-- Instagram Feed -->
        {% include instafeed.html %}

        <!-- Section 1-->
        <section class="page-section" id="section1">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading">About<img src="assets/img/60x60logo.png" alt="" /></h2>
                    <h5 class="my-3">Our mission is to integrate the climate into our everyday food choices.</h5>
                    <p class="text-muted">
                        The global food system is a major contributor to climate change, responsible for up to <a href="https://science.sciencemag.org/content/360/6392/987">a quarter of global greenhouse gas emissions</a>. That is why our food choices matter when it comes to reducing global emissions.<br><br>
                        We envision a world where we produce, consume and compost food in a sustainable manner.
                    </p>
                </div>
            </div>
        </section>
        
        <!-- How/Our Services -->
        <section class="page-section" id="WhatWeDo">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading">What We Do</h2>
                    <h5 class="my-3">We bring transaparency to the table.</h5>
                    <p class="text-muted">
                    Through research, data, and educational content, we help restaurants and food services reduce their climate impact through a climate labelling system. We calculate the carbon intensity of each menu item and communicate it through in-store labels with the mission to empower consumers to make more sustainable and informed food purchases.</p>
                    <div class="col">
                        <a class="btn btn-primary btn-l" href="services.html">Learn More About Our Services</a>
                    </div>
                </div>
            </div>
        </section>    
        
        <!--Join Us Typeform 
            {% include joinus.html %} -->
        

        <!-- Sponsors -->
        <section class="py-5" id="sponsors">
            <div class="container">
                <div class="text-center">
                    <h3 class="section-heading">Proudly Supported By</h3>                
                    <div class="row">
                        <div class="col-md-4 col-sm-6 my-3">
                            <img class="img-fluid d-block mx-auto" src="assets/img/sponsors/Canada Service Corps EN Colour.png" alt="canada service corps" />
                        </div>
                        <div class="col-md-4 col-sm-6 my-3">
                            <img class="img-fluid d-block mx-auto" src="assets/img/sponsors/Rising Youth EN Colour.png" alt="rising youth" />
                        </div>
                        <div class="col-md-4 col-sm-6 my-3">
                            <img class="img-fluid d-block mx-auto" src="assets/img/sponsors/Taking it Global EB.png" alt="taking it global" />
                        </div>
                        <div class="col-md-6 col-sm-6 my-3">
                            <img class="img-fluid d-block mx-auto" src="assets/img/sponsors/cityhive.jpg" alt="cityhive" />
                        </div>
                        <div class="col-md-6 col-sm-6 my-3">
                            <img class="img-fluid d-block mx-auto" src="assets/img/sponsors/Government of Canada EN.jpg" alt="government of canada" />
                        </div>                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        {% include footer.html %}
        
        <!-- Hubspot -->
        {% include hubspot.html %}

        <!-- Javascript -->
        {% include script.html %}

    </body>
</html>
