---
---

<!DOCTYPE html>
<html lang="en">

    <!-- Head -->
    {% include head.html %}
    
    <body>
        <!-- Navigation-->
        {% include navbar.html %}

        <!-- Masthead-->
        <header class="masthead takeaction">
            <div class="container">
                <div class="masthead-heading">Take Action</div>
                <div class="masthead-subheading">By reducing our collective foodprint, we will create a more sustainable food system and a healthier future for everyone.</div>
            </div>
        </header>   

		<!--Climate Label-->
        <section class="page-section" id="climatelabel">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-muted py-5 px-4">
                        <h3 class="section-heading text-center">Lighten Your Foodprint</h3>
                        <br>
                        <p class="text-left mt-4">Foodprint refers to the environmental impact created by our demand for food. Food is part of our everyday lives and our food choices are crafted by our habits and culture. It is something shared and exchanged. This is why lowering our foodprint often requires shared efforts and collective action. Here are some tips for how you can lower your foodprint:
                            <ul>
                                <li>Learn more about the impact of food on the climate on our <a href="about.html">About</a> page and our <a href="blog.html">blog</a>.</li>
                                <li>With the climate in mind, make conscious decisions about the foods that you buy, eat, share, cater, and promote. Select low carbon foods by <b>prioritising seasonal, local, and plant-based</b> foods.</li>
                        </p>

                    </div>
                    <div class="col-lg-6 bg-light py-5 px-4">
                        <h3 class="section-heading text-center">Tell Us Where You Want to See Climate Labels</h3>
                        <p class="text-center mt-4"> <a class="typeform-share link" href="https://form.typeform.com/to/VRJeRPMg?typeform-medium=embed-snippet" data-mode="popup" style="color:#FFA539;text-decoration:underline;font-size:18px;" data-size="70" target="_blank">Contact Us</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script><!--Tell us where you want to see climate labels (free text box to select restaurants → populate full restaurant name/address to confirm → ‘thank for your submission’! see how many other people voted for that restaurant). Either via typeform or google form. -->
                        </p>
                    </div>
                </div>

<!--
                <div class="row">
                    <div class="col-lg-6 bg-light py-5 px-4">
                        <h3 class="section-heading text-center">Ask Your Favourite Restuarants to Include Cliamte Labels</h3>
                        <p class="text-left mt-4">Use our downloadable PDF to ask your favourite food service to provide more transparency on the carbon intensity of their food by placing climate labels in their menus. All you have to do is edit your name into it, and either email it off, or print it and give it to them in person!</p>

                        <div class="accordion">
                            <div class="accordion-item">
                                <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">If you prefer email, here's a template.</span><span class="icon" aria-hidden="true"></span></button>
                                <div class="accordion-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion">
                            <div class="accordion-item">
                                <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">If you prefer social media, here's a blurb.</span><span class="icon" aria-hidden="true"></span></button>
                                <div class="accordion-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion">
                            <div class="accordion-item">
                                <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">If you prefer a printable PDF, here's the file</span><span class="icon" aria-hidden="true"></span></button>
                                <div class="accordion-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 text-muted py-5 px-4">
                        <h3 class="section-heading text-center">I’m a restaurant and I want to add climate labels to my menu.</h3>
                        <p class="text-left mt-4">That’s awesome! Please reach out and <a class="typeform-share link" href="https://form.typeform.com/to/VRJeRPMg?typeform-medium=embed-snippet" data-mode="popup" style="color:#FFA539;text-decoration:underline;font-size:18px;" data-size="70" target="_blank">Contact Us</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>. 
                        <br><br>From there, our team will reach out to set up a time for a call to learn more about your organization’s needs. We will then send over a custom proposal with a timeline and cost (if applicable). Once that looks good to you, we’ll get to work! After we finish the project, we will provide a business and/or sustainability report on the impact of our work.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    -->

        <!-- Footer -->
        {% include footer.html %}
        
        <!-- Hubspot -->
        {% include hubspot.html %}

        <!-- Javascript -->
        {% include script.html %}

    </body>
</html>