---
---

<!DOCTYPE html>
<html lang="en">

    <!-- Head -->
    {% include head.html %}
    
    <body>
        <!-- Navigation-->
        {% include navbar.html %}

        <!-- Masthead-->
        <header class="masthead takeaction">
            <div class="container">
                <div class="masthead-heading">Take Action</div>
                <div class="masthead-subheading">By reducing our collective foodprint, we will create a more sustainable food system and a healthier future for everyone.</div>
            </div>
        </header>   

		<!--Climate Label-->
        <section class="page-section" id="climatelabel">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-muted py-5 px-4">
                        <h3 class="section-heading text-center">Lighten Your Foodprint</h3>
                        <br>
                        <p class="text-left mt-4">Foodprint refers to the environmental impact created by our demand for food. Food is part of our everyday lives and our food choices are crafted by our habits and culture. It is something shared and exchanged. This is why lowering our foodprint often requires shared efforts and collective action. Here are some tips for how you can lower your foodprint:
                            <ul>
                                <li>Learn more about the impact of food on the climate on our <a href="about.html">About</a> page and our <a href="blog.html">blog</a>.</li>
                                <li>With the climate in mind, make conscious decisions about the foods that you buy, eat, share, cater, and promote. Select low carbon foods by <b>prioritising seasonal, local, and plant-based</b> foods.</li>
                        </p>

                    </div>
                    <div class="col-lg-6 bg-light py-5 px-4">
                        <h3 class="section-heading text-center">Tell Us Where You Want to See Climate Labels</h3>
                        <p class="text-center mt-4">We are always seeking to connect with like-minded businesses in the community. We are currently seeking pilot partners, so please let us know where you'd like to see climate labels! Leave us a note on our <a class="typeform-share link" href="https://form.typeform.com/to/VRJeRPMg?typeform-medium=embed-snippet" data-mode="popup" style="color:#FFA539;text-decoration:underline;font-size:18px;" data-size="70" target="_blank">contact form</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                        !</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-6 bg-light py-5 px-4">
                        <h3 class="section-heading text-center">Reach out to your favourite restaruants!</h3>
                        <p class="text-center mt-4">Restaurants highly value and are attentive to feedback from their customers. This is a simple, yet direct way to help the cause! Here's a handy blurb to reach out to your favourite restaurants and give them feedback that you'd like to see climate labels on their menus.
                        </p>
                        <div class="accordion">
                            <div class="accordion-item">
                                <button id="accordion-button-1" aria-expanded="true"><span class="accordion-title text-center mt-4"></span><span class="icon" aria-hidden="true"></span></button>
                                <div class="accordion-content text-muted text-center">
                                    <caption>I’m a loyal fan and customer of your restaurant. If I may leave a piece of feedback as a frequent customer of your restaurant, I would love to see climate labels in your menus to indicate the environmental impact of each dish. As a consumer passionate about making sustainable choices, I find value and consciously seek businesses with this kind of transparency to help me make more informed choices. Lighter Foodprint, a local nonprofit, offers climate labelling services to restaurants to help us better understand our food choices. I hope you will consider adding climate labels to your menus!</caption>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-6 text-muted py-5 px-4">
                        <h3 class="section-heading text-center">I’m a restaurant and I want to add climate labels to my menu.</h3>
                        <p class="text-center mt-4">That’s awesome! Please reach out and <a class="typeform-share link" href="https://form.typeform.com/to/VRJeRPMg?typeform-medium=embed-snippet" data-mode="popup" style="color:#FFA539;text-decoration:underline;font-size:18px;" data-size="70" target="_blank">contact us</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>. 
                        <br><br>From there, our team will reach out to set up a time for a call to learn more about your organization’s needs. We will then send over a custom proposal with a timeline. Once that looks good to you, we’ll get to work! After we finish the project, we will provide a business and/or sustainability report on the impact of our work.
                        <br><br> <img src="assets/img/about/1.png" alt="lighter foodprint" style="width:150px;height:150px;"> 
                        </p> 
                    </div>
                </div>
            </div>
        </section>
    

        <!-- Footer -->
        {% include footer.html %}
        
        <!-- Hubspot -->
        {% include hubspot.html %}

        <!-- Javascript -->
        {% include script.html %}

    </body>
</html>