<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                <script>
                  hbspt.forms.create({
                    portalId: "9099295",
                    formId: "500e2534-101b-457f-b4a6-c94026478f9b"
                });
                </script>
            </div>

            <!--<div class="col-lg-5 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/lighter_foodprint/"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/lighterfoodprintvancouver"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/company/lighterfoodprint/"><i class="fab fa-linkedin-in"></i></a>
            </div>-->

            <div class="col-lg-8 text-lg-right">
                <a class="typeform-share link" href="https://form.typeform.com/to/VRJeRPMg?typeform-medium=embed-snippet" data-mode="popup" style="color:#FFA539;text-decoration:underline;font-size:18px;" data-size="70" target="_blank">Contact Us</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                <br><br>
                <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/lighter_foodprint/"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/lighterfoodprintvancouver"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/company/lighterfoodprint/"><i class="fab fa-linkedin-in"></i></a>
                <br><br>                                
                <p>Copyright © Lighter Foodprint 2021
                    <br>Reducing food's impact on the environment by
                    <br>integrating the climate into our everyday food choices.
                </p>
                <!--<a href="mailto:info@lighterfoodprint.com">info@lighterfoodprint.com</a></div>-->
        </div>
    </div>
</footer>